{% extends 'base.html' %}
{% block title %}
    Salones de eventos
{% endblock title%}
{% block content %}
{% include 'includes/header.html' %}
    <form method="POST">{% csrf_token %}
    {{ form.as_p }}
        <button type="submit">sddasasd</button>
        </form>
    <form method="POST" action="{% url 'salones_app:upload-image' object.id  %}" enctype="multipart/form-data">{% csrf_token %}
      {{form_image.image}}
        <button type="submit">AAAAAA</button>
    </form>
    <form method="POST" action="{% url 'salones_app:delete-salon' object.id  %}">{% csrf_token %}
        <button type="submit">Borrar</button>

    </form>
    {% include 'includes/footer.html' %}
{% endblock content %}